.welcome
{
    font-family: 'Pacifico', sans-serif;
    font-size: 200%;
    text-shadow: 4px 4px 4px #aaa;
}

.name
{
    font-family: 'Orbitron';
}

.focus
{
    font-family: 'Gugi';
}

.talk
{
    font-family: 'Yatra One';
}

.identity
{
    margin-top: 1%;
}

.head
{
    font-family: 'Raleway';
}

.list
{
    font-family: 'Mina';
    font-size: 120%;
}

.sub
{
    font-family: 'Nova Cut';
}



.bar
{
    width: 25%;
}

.work, .projects, dusk
{
    color: rgb(147, 147, 147);
}

.interest, .skills, .contacts, .git, .dawn, card
{
    color: rgb(165, 42, 42);
}

.tel, .gitAddress
{
    color: rgb(46, 41, 41);
}

.linkedIn, .facebook, .twitter
{
    color: rgb(44, 44, 156);
}

.mail, .gplus
{
    color: red;
}

.honours, .grad, .html, .js, .noon
{
    color: gold;
}

.vue, .nodeJS, .android
{
    color: rgb(0, 160, 0)
}

.css, .python
{
    color: blue;
}